@charset "utf-8";

.posts {
    &__base {
    }

    &__list {
        // TODO: This should be included...
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin: 1rem 0 2rem;
    }

    &__title {
        position: relative;
        padding: .5rem 0 .5rem;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            border-top: 3px solid $c-black;
            width: 142px;
            content: "";

        }
    }

    &__link {
    }

    &__continue {
        border: 3px solid $c-black;
        font-size: .75rem;
        font-weight: bold;
        line-height: 1.5rem;
        padding: .3125rem .5rem;
        border-radius: 3px;
        display: inline-block;
        margin: 1rem 0 0;
        text-transform: uppercase;
    }

    &__tags {
    }
}

.tags {
    &__list {
        // TODO: This should be included...
        list-style: none;
        padding: 0;
        margin: 0;
    }
}