# NPM: -----------------------------------------------------------------------------------------------------------------

npm-debug.log
node_modules


# Typings: -------------------------------------------------------------------------------------------------------------

typings


# Jekyll: --------------------------------------------------------------------------------------------------------------

.jekyll-metadata


# WebStorm: ------------------------------------------------------------------------------------------------------------

.idea


# Generated: -----------------------------------------------------------------------------------------------------------

.sass-cache
jekyll/_site
dist


# Not to share: -----------------------------------------------------------------------------------------------------------

.gitconfig
.notes