---
permalink: "/"
---

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>{{ site.title }}</title>

    <style>{% include css/index.inline.css %}</style>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    {% include components/header.html title=site.title %}

    <h2>POPULAR</h2>

    <!-- TODO: Include components/popular -->

    <h2>RECENT</h2>

    {% include components/posts.html %}

    {% include components/footer.html %}

    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>