@charset "utf-8";

.ltags {
    &__base {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;

        font-size: .75rem;
        font-weight: bold;
        line-height: 1.5rem;
        text-transform: uppercase;
    }

    &__item {
        margin: 1rem 0 0;
        float: left;
        width: 25%;
    }

    &__link {
        border: 3px solid $c-black;
        padding: .3125rem .5rem;
        border-radius: 3px;
        display: inline-block;
    }
}