@charset "utf-8";

.header {
    &__base {
    }

    &__title {
        border-bottom: 3px solid $c-black;
        font-size: 3rem;
        line-height: 3rem;
        padding: 1rem 0 .8125rem;
        text-transform: uppercase;
    }
}