---
permalink: "/authors/"
---

<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>{{ site.title }}</title>

    <style>{% include css/authors.inline.css %}</style>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    {% include components/header.html title=site.title %}

    <section>
        <h2>AUTHORS</h2>

        <ul class="tags">
            {% for tag in site.tags %}
                {% assign t = tag | first %}

                {% if t contains 'author' %}
                    {% assign posts = tag | last %}

                    <li>{{t | downcase | replace:"author:","" | replace:" ","-" }} has {{ posts | size }} posts</li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>POST PER AUTHORS</h2>

        {% for tag in site.tags %}
            {% assign t = tag | first %}

            {% if t contains 'author' %}
                {% assign posts = tag | last %}

                By {{ t | downcase | replace:"author:","" }}

                <ul>
                    {% for post in posts %}
                        {% if post.tags contains t %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </section>

    {% include components/footer.html %}

    <script type="text/javascript" src="js/authors.js"></script>
</body>

</html>