body {
  width: 1000px;
  margin: 0 auto;
  font-family: Sans-Serif;
  font-size: 1rem;
  line-height: 1.5rem; }

h1, h2, h3 {
  margin: 0; }

h2 {
  font-size: .75rem;
  font-weight: bold;
  line-height: 2rem;
  margin: 1rem 0 0;
  color: #AAA; }

h3 {
  font-size: 1.5rem;
  line-height: 2rem; }

a,
a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
  color: inherit; }

.header__title {
  border-bottom: 3px solid #000;
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem 0 .8125rem;
  text-transform: uppercase; }

.nav__base {
  border-bottom: 3px solid #000; }

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.nav__item {
  float: left; }

.nav__link {
  line-height: 1rem;
  display: inline-block;
  padding: 1rem 2rem .8125rem 0;
  font-weight: bold; }

.nav__link:hover {
  color: red; }

.lauthors__base {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: .75rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-transform: uppercase; }

.lauthors__item {
  position: relative;
  margin: 1rem 0 0;
  float: left;
  width: 50%; }

.lauthors__link {
  padding: .5rem 0 .5rem 3rem;
  display: inline-block; }

.lauthors__img {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 100%; }
